<div class="container">
  <div class="form">
    <div class="img-logo">
      <img src="assets/icons/lucro-icon 1.png" alt="" />
    </div>

    <div *ngIf="messageList.length === 0" style="max-width: 90%;">
      <div class="alert-help">
        <div class="alert-info message">
          <div class="img-con">
            <img src="assets/icons/message_icon.png" alt="" />
          </div>
          <div class="text">
            <span>Ingresa el mensaje que desees e inicia la conversación</span>
          </div>
        </div>
      </div>

      <div class="alert-help">
        <div class="alert-info alert">
          <div class="img-con">
            <img src="assets/icons/warning_icon.png" alt="" />
          </div>
          <div class="text">
            <span>Ingresa el mensaje que desees e inicia la conversación</span>
          </div>
        </div>
      </div>
    </div>

    <div class="content-message" *ngIf="messageList.length >= 1">
      <div *ngFor="let message of messageList">
        <div class="message-username" *ngIf="message.user">
          <div class="icon-user">
            <img src="assets/icons/icon_user.png" alt="" />
          </div>
          <p>{{ message.message }}</p>
        </div>
      </div>
      <div class="message-robot">
        <div class="icon-robot">
          <img src="assets/icons/icon_header_lucro.png" alt="" />
        </div>
        <div *ngFor="let message of messageList" >
          <div class="message"  *ngIf="message.robot">
            <p>
              popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
            </p>
            <div class="options">
              <button (click)="open()">
                <img src="assets/icons/thumb-up-svgrepo-com1.png" alt="">
              </button>
              <button (click)="open()">
                <img src="assets/icons/thumb-down-svgrepo-com.png" alt="">
              </button>
            </div>
          </div>
        </div>
        <div class="spinner" *ngIf="loading">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
    </div>
    <form
      [formGroup]="formSearch"
      (ngSubmit)="sendForm(formSearch)"
      *ngIf="messageList.length === 0"
    >
      <div class="search">
        <input
          formControlName="inputSearch"
          type="text"
          class="input-search"
          placeholder="¿Qué es la órbita terrestre?"
        />
        <button type="submit" id="icon">
          <img class="search-icon" src="assets/icons/icon_send.png" alt="" />
        </button>
      </div>
    </form>

    <footer>
      <p>© 2023 Lucro App - Términos y Condiciones de Lucro App y Políticas de Privacidad - Reglamento Lucro</p>
    </footer>
  </div>

  <div class="modal" *ngIf="modal">
    <div class="modal-body">
      <h4>Si deseas puedes agregar algún comentario relacionado a la utilidad de la respuesta.</h4>
      <textarea></textarea>
      <div class="buttons">
        <button (click)="close()">Cancelar</button>
        <button (click)="close()">Enviar</button>
      </div>
    </div>
  </div>
</div>


